.auth {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @apply bg-gray-400 bg-opacity-30;
  overflow: hidden !important;
  background-image: './img/governor.jpg';
  background-size: cover;
  background-position: center;

  .card {
    min-width: 400px;
    margin: 0 auto;
    @apply bg-white rounded-lg shadow-lg overflow-hidden;
  }
}
